<!DOCTYPE html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>

  {% if seo is defined %}
    {{ generate_seo(seo) }}
  {% else %}
    {{ generate_seo() }}
  {% endif %}

  <!-- App favicon -->
  <link rel="apple-touch-icon" href="{{ asset('images/logo.webp') }}" type="image/webp" >
  <link rel="icon" href="{{ asset('images/logo.webp') }}" type="image/webp" >
  
  <!-- Layout config Js -->
  <script src="{{ asset('assets/js/layout.js') }}"></script>
  <!-- Bootstrap Css -->
  <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{{ asset('assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
  {% block stylesheets %}{% endblock %}

</head>

<body>

  <!-- Begin page -->
  <div id="layout-wrapper">

    {{ include('layouts/admin/topbar.html.twig') }}
    {{ include('layouts/admin/sidebar.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <div class="page-content">
        <div class="container-fluid">

          {{ include('layouts/admin/page-title.html.twig', {pagetitle: 'Pages', title: 'Starter'}) }}

          {% block body %}{% endblock %}

        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

      {{ include('layouts/admin/footer.html.twig') }}
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  {{ include('layouts/partials/vendor-scripts.html.twig') }}
  
  {% block javascripts %}{% endblock %}
</body>

</html>